<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Assignment 9</title>
	<link rel="stylesheet" href="../../Ran.Briga/flaskProject/static/css/assignment8.css">
</head>
<body>
<h1 style="margin:12px;">Search users</h1>
<form name="search" method="get" action="{{ url_for('my_assignment9') }}">
	<label for="searchBox">Search by Username:</label>
	<input type="text" id="searchBox" name="username">
	<input type="submit" value="Search">
</form>
{% if search %}
	{% if found==True %}
        <br>
        <span>User Username: </span><span style="font-weight :bold">{{ username }}</span> <br>
		<span>User First name: {{ users["firstName"] }}</span><br>
        <span>User Last name: {{ users["lastName"] }}</span><br>
		<span>Users Email: {{ users["email"] }}</span>
	{% elif found==False %}
        <br>
		<div>We didnt found any Username match your search</div>
	{% else %}
		{% for user in users %}
            <br>
			<span>User Username: {{ user }}</span><br>
			<span>User First name: {{ users[user]["firstName"] }}</span><br>
            <span>User Last name: {{ users["lastName"] }}</span><br>
			<span>User Email: {{ users[user]["email"] }}</span><br>
		{% endfor %}
	{% endif %}
{% else %}

{% endif %}
<hr style="margin:10px 0 10px 0;">
{% if session.get('loggedIn')==False or 'loggedIn' not in session %}
	{% if exists %}
		<div>User already exists!</div>
		<h1 style="margin:10px;">Registration Form</h1>
		<form name="registration" method="post" action="{{ url_for('my_assignment9') }}">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username"><br>
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname"><br>
			<label for="email">E-mail Address:</label>
			<input type="email" id="email" name="email"><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password"><br>
			<input type="submit" value="Register">
		</form>
	{% else %}
		<h1 style="margin:10px;">Registration Form</h1>
		<form name="registration" method="post" action="{{ url_for('my_assignment9') }}">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username"><br>
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname"><br>
			<label for="email">E-mail Address:</label>
			<input type="email" id="email" name="email"><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password"><br>
			<input type="submit" value="Register">
		</form>
	{% endif %}
{% endif %}
</body>
</html>