<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Assignment8 </title>
</head>
<body>
    {% extends "cv.html" %}
      {% block content %}
          {% if contact_user %}
                <h1 style="color: red">Hi {{ contact_user.firstname }} {{ contact_user.lastname }}</h1>
            {% else %}
                <h1 style="color: black">Hi Guest</h1>
            {% endif %}
          <h1>My Hobbies</h1>
      {% for hobby in hobbies %}
          <li>{{ hobby | lower }}</li>
          {% endfor %}
      {% endblock %}
</body>
</html>
