<!DOCTYPE html>
<html dir = "rtl">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ran Briga CV</title>
</head>

<body>
<h1 align="center">
    Ran Briga CV
</h1>
<h2> The UX Plan </h2>
<p>
<ul>
    <li> קהל היעד : מגייסים פוטנציאלים מחברות הייטק או חברות השמה     </li>
    <li>	 המטרה הראשית : לתת את המידע הרלוונטי ביותר על עצמי לתפקידים בהם הייתי רוצה לעסוק בעתיד </li>
    <li> 	 המטרה המשנית : לתת מידע אישי על קורות חיי בצורה מסקרנת ועניינית </li>
    <li> 	 פעולות שיבוצעו באתר : המשתמשים באתר יוכלו לדפדף בין פרקי הזמנים השונים בקורות חיי ע"י לחיצה פשוטה לתקופה עליה ירצו לקרוא, בשונה מק"וח רגילים שאנו מכירים הקריאה תלווה בתמונות והמשתמש יוכל ליצור קשר בכל עת ע"י תיבת פנייה ייעודית </li>
    <li> 	 מדדי ההצלחה : קבלת פניות רבות ככל האפשר כך שאוכל לעשות את הסינון לתפקיד המתאים </li>
    <li> 	 עולם התוכן : סיפור חיי עם כל השלבים החשובים בדרך, החל מתהליך ההתבגרות ועד היום. בשונה מקו"ח סטנדרטיים ארצה להציג את האנושיות מאחורי ה"השכלה והנסיון" ואשים דגש על תחביבים ופנאי </li>
</ul>
</p>

<h2> The UI Plan </h2>
<img src="../static/image/Illustration%20CV.jpg" alt="CV Illustration Picture" align="left" height="600px" width="400px"></li><br>
<p>פונט לכל האתר : Open Sans
</p>
<p>תיאור התמונות :
</p>
<ul>
    <li>  Profile - "תמונת פרופיל עם נוף עננים "השמיים הם הגבול </li>
    <li>  Military - תמונה עם הספינה והצוות מהשירות הקרבי </li>
    <li>  Skills - תמונה מההאקתון שמראה תחרותיות ועבודת צוות עם קונוטציה להייטק </li>
    <li>  Hobbies - תמונת תחביב של צלילה חופשית, שילוב של רוגע ואקסטרים </li>

</ul>

</body>
</html>
