<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Assignment 9</title>
	<link rel="stylesheet" href="../static/css/assignment8.css">
</head>
<body>
<h1 style="margin:12px;">Search users</h1>
<form name="search" method="get" action="/assignment9">
	<label for="searchBox">Search users(by username):</label>
	<input type="text" id="searchBox" name="username">
	<input type="submit" value="Search">
</form>
{% if search %}
	{% if found==True %}
		<span>Username: {{ username }}</span><br>
		<span>First name: {{ users["firstName"] }}</span><br>
		<span>E-mail Address: {{ users["email"] }}</span>
	{% elif found==False %}
		<div>Search word did not retrieve any results. Please try again.</div>
	{% else %}
		{% for user in users %}
			<span>Username: {{ user }}</span><br>
			<span>First name: {{ users[user]["firstName"] }}</span><br>
			<span>E-mail Address: {{ users[user]["email"] }}</span><br><br>
		{% endfor %}
	{% endif %}
{% else %}

{% endif %}
<hr style="margin:10px 0 10px 0;">
{% if session.get('loggedIn')==False or 'loggedIn' not in session %}
	{% if exists %}
		<div>User already exists!</div>
		<h1 style="margin:10px;">Registration Form</h1>
		<form name="registration" method="post" action="/assignment9">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username"><br>
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname"><br>
			<label for="email">E-mail Address:</label>
			<input type="email" id="email" name="email"><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password"><br>
			<input type="submit" value="Register">
		</form>
	{% else %}
		<h1 style="margin:10px;">Registration Form</h1>
		<form name="registration" method="post" action="/assignment9">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username"><br>
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname"><br>
			<label for="email">E-mail Address:</label>
			<input type="email" id="email" name="email"><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password"><br>
			<input type="submit" value="Register">
		</form>
	{% endif %}
{% endif %}
</body>
</html>